<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer" xmlns:font-weight="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="text">
            <h3>Контакты и доставка</h3>
            <p style="font-weight: 300;">Доставка новой почтой по всей Украине</p>
            <p style="font-weight: 300;">Для оформления заказа выберите желаемые товары и оформите заказ в корзине. Также можете заказать по телефону.</p>
            <h3>+49 157 524 13655: Германия  &nbsp &nbsp &nbsp +38 097 450 5775: Украина</h3>
        </div>
    </div>
</footer>