<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer" xmlns:font-weight="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="text">
            <h3>Контакты и доставка</h3>
            <p style="font-weight: 300;">Доставка новой почтой по всей Украине</p>
            <p style="font-weight: 300;">Что бы оформить заказ на нашем сайте, выберите желаемый товар и перейдите далее в корзину. Так же заказ можно оформить по телефону.</p>
            <h3>Германия: +49 157 52413655 &nbsp &nbsp &nbsp Украина: +38 097 450 5775</h3>
        </div>
    </div>
</footer>