{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="section-top">
        <img src="{% static 'img/mercedes-3418805_1920.jpg' %}" class="img-responsive">
    </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
                <h1 class="text-center">
                            Оригинальные шариковые ручки «Mercedes-AMG»  со звуком мотора V8
                        </h1>
            </div>
                {% for product_image in products_images %}
                      {% include 'product_item.html' %}
                {% endfor  %}
        </div>
    </div>

   <!-- </div>
    <div class="section section-delivery">
    <div><h3>Free shipping</h3></div>

    </div>-->
     <div class="section section2 second-container">
        <div class="container">
            <div class="row">
                <h1 class="text-center">
                            Шариковые оригинальные ручки Mercedes-Benz Classic
                        </h1>
                {% for product_image in products_images_second %}


                      {% include 'product_item.html' %}


                {% endfor %}
            </div>
        </div>
    </div>

    <!--
     <div class="section section3 third-container">
        <div class="container">
            <div class="row">
                <h1 class="text-center">
                            Новые поступления
                        </h1>
                {% for product_image in products_images_third %}

                      {% include 'product_item.html' %}


                {% endfor  %}


            </div>
        </div>
    </div>
    -->
{% endblock %}